.title {
	color: #fff;
	padding: 10px 50px;
	display: inline-block;
	margin: 25px 0;
	background: #feac5e; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#4bc0c8,
		#c779d0,
		#feac5e
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
}
.text-center {
	text-align: center;
}
canvas {
	border: 5px solid;
	border-image-source: linear-gradient(45deg, #4bc0c8, #c779d0);
	border-image-slice: 1;
}
